/* ---------------------------------------------------------------------------------------------------
-----Info

Supernatural The Game
Designer/Developer:  
Nicole Aitchison
nlaitchison@gmail.com

-----Color Swatch


-----Sections

∆ General

----------------------------------------------------------------------------------------------------*/


/* ---------------------------------------------------------------------------------------------------
∆ General
---------------------------------------------------------------------------------------------------*/

html,body,div,form,fieldset,legend,label,h1,h2,h3,h4,h5,h6,p,ul,dl,dt,dd,figure,figcaption {
	margin: 0;
	padding: 0;
}

#vid{
	margin: 0 auto;
	width: 480px;
	padding: 35px 140px 0 0;
}

header{
	margin: 0 auto;
	/*padding-top: 4px;*/
	width: 850px;
}

#container{
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	background: url(../img/site_bg.png) no-repeat fixed;
	background-size: cover;
	z-index: -1;
}

#frame{
	margin: 0 auto;
	padding: 0 15px 20px 0;
	width: 1250px;
	height:560px;
	/*padding: 0 80px 12px 0;*/
	background: url(../img/frame.png) no-repeat;
	background-size: auto;
}

footer{
	clear: both;
	margin-top: 20px;
	padding: 50px 0;
	min-width: 100%;
	background: rgba(91,74,61,0.3);
}

footer p{
	color: #1F1816;
	font: 14px Helvetica, Arial, sans-serif;
	padding: 0 100px 5px 100px;
	text-align: center;
}

footer a{
	font: 14px Helvetica, Arial, sans-serif;
	color: #1F1816;
}

#alt_content{
	width: 640px;
	/*height: 520px;*/
	margin: 33px 0 0 315px;
	background: url(../img/alt_content.png) no-repeat 0 33px;
}

#alt_content p{
	font: 22px Helvetica, Arial, sans-serif;
	color: #d4c7c1;
	margin: 10px auto 0 auto;
	text-align: center;
 	padding: 200px 0 0;
	height: 510px;
}

 #alt_content a{
	color: #d4c7c1;
}

#screenshots{
	margin: 18px auto;
    overflow: hidden;
    padding: 0 0 25px;
    width: 1200px;
}

.small_frame{
	width: 370px;
	height: 359px;
	margin: 0 15px; 
	float: left;
	overflow: hidden;
	background: url(../img/small-frame.png) no-repeat;
}

.small_frame img{
	padding: 20px 20px 10px 20px;
}
 
.small_frame p{
	padding: 0 20px 20px 20px;
	font: 14px Helvetica, Arial, sans-serif;
	color: #645850;
}

h1{
	padding: 0 20px 10px 20px;
	font: 18px Helvetica, Arial, sans-serif;
	color: #a7978d;
}


